version: '3.5'

services:
  # 1. Database Service
  db:
    container_name: postgres_odoo_base
    image: postgres:15-alpine # Khuyên dùng bản 15 để chạy mượt với Odoo 15-18
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
      POSTGRES_USER: ${POSTGRES_USER:-odoo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-odoo}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./db_data:/var/lib/postgresql/data/pgdata # Lưu data ngay tại thư mục dự án
    ports:
      - "5431:5432"
    restart: always

  # 2. Odoo App Service
  odoo:
    container_name: odoo_app
    image: odoo:15.0
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./addons:/mnt/extra-addons # Đẩy folder addons vào đúng chỗ Odoo tìm module
      - ./odoo.conf:/etc/odoo/odoo.conf # Bà nhớ thêm dòng này để nó nhận file cấu hình
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    restart: always

  # 3. PgAdmin (Mở ra để bà quản lý DB cho dã man tiện)
  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    depends_on:
      - db