<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLNS"
            sequence="0"/>
          
        <menuitem name="Quản lý nhân viên" 
            id="menu_nhan_vien" 
            parent="menu_root" 
            sequence="1"
            action="action_nhan_vien"
        />
        
        <menuitem name="Phòng ban" 
            id="menu_phong_ban" 
            parent="menu_root" 
            sequence="2"
            action="action_phong_ban"
        />
        
        <menuitem name="Chức vụ" 
            id="menu_chuc_vu" 
            parent="menu_root" 
            sequence="3"
            action="action_chuc_vu"
        />
        
        <menuitem name="Chấm công" 
            id="menu_cham_cong" 
            parent="menu_root" 
            sequence="4"
            action="action_cham_cong"
        />
        
        <menuitem name="Tạo chấm công tự động" 
            id="menu_tao_cham_cong_wizard" 
            parent="menu_cham_cong" 
            sequence="1"
            action="action_tao_cham_cong_wizard"
        />
        
        <menuitem name="Bảng lương" 
            id="menu_bang_luong" 
            parent="menu_root" 
            sequence="5"
            action="action_bang_luong"
        />
        
        <menuitem name="Danh mục Kỹ năng" 
            id="menu_ky_nang" 
            parent="menu_root" 
            sequence="6"
            action="action_ky_nang"
        />
    </data>
</odoo>
